# Market Basket analysis

(reference 1)[https://medium.com/geekculture/predicting-purchases-with-market-basket-analysis-d6ad2152bf6e]

(reference 2)[https://towardsdatascience.com/a-gentle-introduction-on-market-basket-analysis-association-rules-fa4b986a40ce]

(reference 3)[https://www.analyticsvidhya.com/blog/2021/10/a-comprehensive-guide-on-market-basket-analysis/]

(dataset)[https://www.kaggle.com/datasets/aslanahmedov/market-basket-analysis/]

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
df = pd.read_csv('Data.csv')
df.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,2,55,17850,United Kingdom,NaN,NaN
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,3,39,17850,United Kingdom,NaN,NaN
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,2,75,17850,United Kingdom,NaN,NaN
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,3,39,17850,United Kingdom,NaN,NaN
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,3,39,17850,United Kingdom,NaN,NaN